In [1]:
#Imports
import pandas as pd

file_to_load = "Resources/02-Homework_04-Pandas_Instructions_HeroesOfPymoli_Resources_purchase_data.csv"

#Read purchasing file and store into Pandas DF
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
player_count = len(purchase_data['SN']. unique())
player_count_summary = pd.DataFrame({'Total Players': [player_count]})
player_count

576

In [3]:
#Purchasing Analysis (Total): Number of Unique Items 
ItemID_Count = len(purchase_data['Item ID']. unique())

#Average Purchase Price
Ave_Price = purchase_data['Price'].mean()
Ave_Price_Formatted = '{:0.2f}'.format(Ave_Price)
Ave_Display = "$" + Ave_Price_Formatted

#Total Number of Purchases
Total_Purchases = purchase_data['Purchase ID'].count()
Total_Purchases

#Total Revenue
Total_Price = purchase_data['Price'].sum()
Total_Price_Display = '$' + str(Total_Price)
Total_Price_Display

#Summarize in DataFrame
purchasing_ananlysis_summary = pd.DataFrame({'Number of Unique Items':[ItemID_Count],
                                             'Average Price':[Ave_Display],
                                             'Number of Purchases':[Total_Purchases],
                                             'Total Revenue':[Total_Price_Display]})
purchasing_ananlysis_summary

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

In [14]:
#Copying dataframe to maintain orginal dataset
Gender_Counts = purchase_data.copy()

#Removing duplicate consumers by SN for accurate gender counts
Gender_Counts = Gender_Counts.drop_duplicates(subset ="SN") 

#Adding count of players by gender
Gender_Counts = Gender_Counts['Gender'].value_counts().to_frame()
Gender_Counts = Gender_Counts.rename(columns ={'Gender':'Total Count'})

#Calculating gender percent and adding formatting
Gender_Counts['Percentage of Players'] = (Gender_Counts['Total Count'] / player_count) * 100
Gender_Counts['Percentage of Players'] = Gender_Counts['Percentage of Players'].map("{:.2f}%".format)
Gender_Counts.head()

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%