In [1]:
#Imports
import pandas as pd

file_to_load = "Resources/02-Homework_04-Pandas_Instructions_HeroesOfPymoli_Resources_purchase_data.csv"

#Read purchasing file and store into Pandas DF
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
player_count = len(purchase_data['SN']. unique())
player_count_summary = pd.DataFrame({'Total Players': [player_count]})
player_count

576

In [3]:
#Purchasing Analysis (Total): Number of Unique Items 
ItemID_Count = len(purchase_data['Item ID']. unique())

#Average Purchase Price
Ave_Price = purchase_data['Price'].mean()
Ave_Price_Formatted = '{:0.2f}'.format(Ave_Price)
Ave_Display = "$" + Ave_Price_Formatted

#Total Number of Purchases
Total_Purchases = purchase_data['Purchase ID'].count()
Total_Purchases

#Total Revenue
Total_Price = purchase_data['Price'].sum()
Total_Price_Display = '$' + str(Total_Price)
Total_Price_Display

#Summarize in DataFrame
purchasing_ananlysis_summary = pd.DataFrame({'Number of Unique Items':[ItemID_Count],
                                             'Average Price':[Ave_Display],
                                             'Number of Purchases':[Total_Purchases],
                                             'Total Revenue':[Total_Price_Display]})
purchasing_ananlysis_summary

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

In [4]:
#Copying dataframe to maintain orginal dataset
Gender_Counts = purchase_data.copy()

#Removing duplicate consumers by SN for accurate gender counts
Gender_Counts = Gender_Counts.drop_duplicates(subset ="SN") 

#Adding count of players by gender
Gender_Counts = Gender_Counts['Gender'].value_counts().to_frame()
Gender_Counts = Gender_Counts.rename(columns ={'Gender':'Total Count'})

#Calculating gender percent and adding formatting
Gender_Counts['Percentage of Players'] = (Gender_Counts['Total Count'] / player_count) * 100
Gender_Counts['Percentage of Players'] = Gender_Counts['Percentage of Players'].map("{:.2f}%".format)
Gender_Counts.head()

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [5]:
#Copying dataframe to maintain orginal dataset
Gender_Purchasing = purchase_data.copy()

Gender_Purchasing['Total Purchase Value'] = Gender_Purchasing['Price']
Gender_Purchasing = Gender_Purchasing.rename(columns={'Price':'Average Purchase Price', 'Purchase ID':'Purchase Count'})
Gender_Purchasing = Gender_Purchasing.groupby('Gender').agg({'Purchase Count': 'count', 'Average Purchase Price': 'mean', 'Total Purchase Value': 'sum'})


#Adding count of players by gender
Gender_Counts = purchase_data.copy()
Gender_Counts = Gender_Counts.drop_duplicates(subset ="SN") 
Gender_Counts = Gender_Counts['Gender'].value_counts().to_frame()
Gender_Counts = Gender_Counts.rename(columns={'Gender':'Ave Total Purchase per Person'})
#Gender_Counts = Gender_Counts.reset_index()
Gender_Counts.head()

Gender_Purchasing = Gender_Purchasing.merge(Gender_Counts, how='outer', left_index=True, right_index=True)
Gender_Purchasing['Ave Total Purchase per Person'] = Gender_Purchasing['Total Purchase Value'] / Gender_Purchasing['Ave Total Purchase per Person'] 
Gender_Purchasing.head()

#Average Purchase Total per Person by Gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Ave Total Purchase per Person
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [6]:
Age_Demo = purchase_data.copy()

#Removing duplicate people's ages
Age_Demo = Age_Demo.drop_duplicates(subset ="SN") 

#Establish bins for ages 
bins = [0, 9, 14, 19, 24, 29, 34, 39, 200]

# Create the names for the four bins
Age_Groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Add column
Age_Demo["Age Group"] = pd.cut(Age_Demo["Age"], bins, labels = Age_Groups)

#Calculate the numbers by age group
Age_Demo = Age_Demo.groupby('Age Group').agg({'Age':'count'})
Age_Demo = Age_Demo.rename(columns={'Age':'Total Count'})

#Calculate the percentages by age group
Age_Demo['Percentage of Players'] = (Age_Demo['Total Count'] / player_count)* 100
Age_Demo['Percentage of Players'] = Age_Demo['Percentage of Players'].map("{:.2f}%".format)

Age_Demo

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

In [7]:
Age_Purchases = purchase_data.copy()

#Establish bins for ages 
bins = [0, 9, 14, 19, 24, 29, 34, 39, 200]

# Create the names for the four bins
Age_Groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Add age group column
Age_Purchases["Age Group"] = pd.cut(Age_Purchases["Age"], bins, labels = Age_Groups)

# Add total purchase value
Age_Purchases['Total Purchase Value'] = Age_Purchases['Price']

# Renaming columns
Age_Purchases = Age_Purchases.rename(columns={'Purchase ID':'Purchase Count','Price':'Average Purchase Price'})

#Calculations
Age_Purchases = Age_Purchases.groupby('Age Group').agg({'Purchase Count': 'count', 'Average Purchase Price': 'mean', 'Total Purchase Value': 'sum'})


Age_Demo = Age_Demo [["Total Count"]]
Age_Purchases = Age_Purchases.merge(Age_Demo, how='outer', left_index=True, right_index=True)

# Add total purchase value
Age_Purchases['Total Count'] = Age_Purchases['Total Purchase Value'] / Age_Purchases['Total Count']

Age_Purchases = Age_Purchases.rename(columns={'Total Count':'Ave Total Purchase per Person'})
Age_Purchases

,Purchase Count,Average Purchase Price,Total Purchase Value,Ave Total Purchase per Person
Age Group,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667